* {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    
  }

body {
    
    background: linear-gradient(#f0f7f4 50%, #eae3dd 50%);
}



#wave {
    position: relative;
    width: 110%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3px;
    margin-bottom: 0;
    border: 0;
}
button {
    padding:  0;
    margin: 1rem 0;
    height: 2rem;
    width: 6.5rem;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: black;
    background-color: Transparent;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
}

.start{
    color: white;
    background-color: black;
    line-height: 17px;
}

#menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    max-width: 80%;
 	margin: 3% auto;
}
#menu-bar #nav-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 100%;
}

#menu-bar .BLetters {
    font-size: 36px;
    font-weight: bold;
    line-height: 44px;
}

#intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 80%;
    margin: 5%;
}

#intro .column {
    display: flex;
	flex-direction: column;
    justify-content: space-around;
    max-width: 30%;
 	margin: 3% auto;
}

#intro img {
    height: 40%;
    width: 40%;
}

#intro h1{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 54px;
}

#intro p {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}

#setup {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin-left: 5% auto;
    margin-bottom: 3%;
    margin-top: 0%;
}


#setup h2{
    font-family: Futura;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 54px;
    display: flex;
    text-align: center;
    color: #9E290B;
    margin-top: 5%;
    margin-bottom: 0%;
}

#setup h1{
    font-family: Futura;
    font-weight: 500;
    font-size: 48px;
    display: flex;
    text-align: center;
    color: black;
    margin-top: 0%;
}


#setup #three-steps {
    display: flex;
    flex-direction: column;
    max-width: 55%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    background-color: #f0f7f4;
    box-shadow: 0px 3px 0px #AAAAAA;

}

#setup #three-steps .step-container{
    margin-left: 8%;
    margin-right: 5%;
    margin-top: 0%;
    margin-bottom: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#setup #three-steps .step-container .step{
    font-weight: 100;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 0%;
}

#setup #three-steps .step-container .step-direction{
    font-style: normal;
    font-weight: 520;
    font-size: 36px;
    line-height: 44px;
    margin-top: .3%;
    margin-bottom: .3%;
}

#setup #three-steps .step-container .direction{
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin-top: 0%;
}